
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 2vw;
    background-color: rgb(191, 139, 60);
    color: rgb(62, 19, 58);
} 

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", Arial, Helvetica, sans-serif;
    width: 25%;
    border-radius: 30%;
    color: rgb(191, 139, 60);
}

body > header {
    background-color: rgb(62, 19, 58);
    color: rgb(191, 139, 60);
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    padding:2%; 
} 

aside {
    background-color: rgb(90, 10, 10);
    margin: 0px;
    width: 30%;
} 

aside > section {
    color: rgb(62, 19, 58);
    background-color: rgb(191, 139, 60);
    padding: 5%; 
    margin: 10%;
    border: 0px solid gold;
    border-radius: 5%;
    align-items: center;
}
#nav-ul {
    display: flex;
    margin: 16px;
}

#nav-ul > li {
    padding: 8px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: rgb(191, 139, 60);
    text-decoration: none; 
    padding: 12px; 
    border: 2px solid rgb(191, 139, 60);
    border-radius: 30%;
}

body > main article {
    width: 95%;
    margin: auto;
    background-color: rgb(191, 139, 60);
}

#main-content {
    display: flex;
    justify-content: space-around;
    background-color: rgb(191, 139, 60);
} 

#main-content > div {
    width: 85%;
}

main > h3 {
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    '#recipe1 #recipe2' 
    '#recipe3 #recipe4'
    '#recipe5 #recipe6' ;
    grid-template-columns: 33fr 33fr;
}

#recipe1 {
    padding: 5%;
    margin: 5%;
    border: 5px solid rgb(62, 19, 58); 
    border-radius: 5%;
    background-color: bisque;
}

#recipe2 {
    padding: 5%;
    margin: 5%;
    border: 5px solid rgb(62, 19, 58); 
    border-radius: 5%;
    background-color: bisque;
}

#recipe3 {
    padding: 5%;
    margin: 5%;
    border: 5px solid rgb(62, 19, 58); 
    border-radius: 5%;
    background-color: bisque;
}

#recipe4 {
    padding: 5%;
    margin: 5%;
    border: 5px solid rgb(62, 19, 58); 
    border-radius: 5%;
    background-color: bisque;
}

#recipe5 {
    padding: 5%;
    margin: 5%;
    border: 5px solid rgb(62, 19, 58); 
    border-radius: 5%;
    background-color: bisque;
}

#recipe6 {
    padding: 5%;
    margin: 5%;
    border: 5px solid rgb(62, 19, 58); 
    border-radius: 5%;
    background-color: bisque;
}

article > footer {
    display: flex;
    gap: 2%;
} 

form {
    text-align: left;
    background-color: rgb(90, 10, 10);
    color: blanchedalmond;
    margin: 0%;
    padding: 2%;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(62, 19, 58);
    display: flex;
    padding: 2%;
    justify-content: flex-start; 
    gap: 30%;
}

img {
    border-radius: 50%;
} 

#footer-ul{
    display: flex;
    list-style: none; 
}

#footer-ul > div > li {
    margin: 5%;
    width: 250px;
} 

#footer-ul > div > li > a {
    color: blanchedalmond;
    text-decoration: none; 
} 

#footer-logo {
    color: rgb(191, 139, 60);
}